$dark-brown-background 		= #341502
$light-brown-background		= #793c20
$white 						= #f2e8e2
$yellow 					= #ffaf00
$red 						= #e20908
$black 						= #22252c


$libreFranklin = 'Libre Franklin', sans-serif
$pacifico = 'Pacifico', cursive

$mobile = "only screen and (max-width: 600px)"